.datatable td, .datatable th {
	padding: 1px 4px 1px 4px;
}
.datatable tbody tr th {
	text-align: left;
	font-weight: inherit;
}
.datatable tbody tr td {
	text-align: right;
}
.datatable_percent {
	color: #888;
}
span.datatable_percent {
	min-width: 2.5em;
	text-align: right;
	display: inline-block;
}

.box {
	padding: 0 2em 1em 1em;
	display: inline-block;
}

.label {
	font-style: italic;
	text-align: center;
}

h2 {
	margin-top: 6px;
	margin-bottom: 5px;
}
h3 {
	margin-top: 6px;
	margin-bottom: 5px;
}
