<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Spielplan {{league_name}} {{season_name}}</title>
<style>
body {
	font-size: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial;
}


.header {
	font-size: 24px;
	position: relative;
	width: 100%; height: 51px;
	margin: 0; padding: 0;
	text-align: center;
	display: relative;
}
.logo {position: absolute; left: 0; top: 0; height: 100%;}
.overview {display: inline-flex; text-align: center; height: 100%;}
.topright {
	position: absolute; right: 0; top: 0;
	height: 100%;
	text-align: right;
}

table {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	border-collapse: collapse;
}
table+.header{
	page-break-before: always;
}
th {
	padding: 5px 10px;
	border: 1px solid black;
}
td {
	padding: 5px 10px;
	border: 1px solid black;
}
.versus {
	min-width: 2em;
	text-align: center;
	border-right: none;
	border-left: none;
}
.home_team {
	text-align: left;
	border-right: none;
}
.away_team {
	text-align: left;
	border-left: none;
}


.first_game_on_day td, .first_game_on_day th {
	border-top: 3px solid black;
}

thead th {
	font-weight: normal !important;
	background: #ccffcc;
	font-style: italic;
}
.weekday, .date_str, .time_str {
	text-align: center;
}
th.num {
	border-bottom: none;
}
th.day {
	border-top: none;
	font-weight: normal;
	font-size: 80%;
}
th.day div {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

@media print {
body {
	font-size: 28px;
}

html {margin: 0; padding: 0;}
body {
	margin: 0;
    padding: 0 1cm;
}

}
</style>
</head>
<body>

{{#rounds}}
<div class="header">
<img class="logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAAAzCAYAAADmWEQdAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYCDiQGGOBQ6AAAABl0RVh0Q29tbWVudABDcmVhdGVk
IHdpdGggR0lNUFeBDhcAABFFSURBVHja5ZtrbFTnmcd/58yZOXPmfvF4bI9jjHFjjGnsAA4khtCE
hCRLlW5E0y6bRtBU6u1LqKr9sK1arZR+qNSrtG1UpRJRi6IgNY2IdontsokgpVhpSADbGGMbG4NN
PL7O9cycmXPm7Id2jriYkGyIcbqPNLJkv/O+x//3ufyf//sewTRNk9tgpmmSTCYpFoucPn0at9uN
0+lEFEXC4TCSJAFQKpVIJpPk83l0XWd6epqmpiZCoRCBQABRFFlm9oSwlKCapkmpVKK3t5d4PM6a
NWuorKxEkiQLxJtZqVSiWCySzWY5e/YsiqLQ0tKCLMv//0BVVZXu7m5WrFjBmjVrcDqdt2TedDpN
b28vuq7T0dHxoTfnUw1qoVDgxIkTuFwu7rrrrk8sXPP5PL29vYTDYRoaGhAE4R8T1P7+foaGhtix
Y8eShefo6CgjIyM89NBDtyvfPoH5CVgqlTL3799vzszMmLfDcrmcuX//fjOZTN6O5f/5lntqIpHg
2LFjbN26Fa/Xe9sSWy6Xo7Ozk8ceewxFUT694T82NsalS5e4//77l0UZNgyDQ4cOsWPHDmw225KB
Kt7KXGYYxrIBFMBms/HAAw/w5ptvLum6twTU8fFx5ufnaWxsXG5EHK/XS3V1NePj458eUIeHh9E0
jQ0bNrBcbe3atZw8eZJisbj8Qc3lcgwMDPCZz3yG5W7t7e2MjIwsb1B1XefIkSN8/vOfv51E+0Nb
TU0N58+fX76gmqZJZ2cn27ZtW8qq+rFMEARaW1uZmZlZnqBOTk5SV1eHw+Hg02S1tbVMTk4uP1DT
6TT9/f20trbyabSlKFbiRw37d999l61bt34qARUEAU3T0HV9+YCaTqdxOp1L3fZ9ZFNVlcGRQUql
0nXFNZFIEI/Hr/vO5UuXiE9MLD2oPT09rF+/ftl7ZH9/P7v/+1/Y859f4cDrL5PKpFhYWOAPf/gD
ra2tvPfee4yOjlIsFrnU389ru3cz29bGieefvyXrf2hFd2ZmhsrKSux2+7IHtaKiAlVTOVvVR9/Q
KX53ZB9fav5XvvjFL1odVmdnJ6/+8Ic88sor/JOmUQSmotGl81RN0+jp6aG+vv5TkTtXrlzJusI9
6FkDKWgjXn2Z0dFRytqRzWajWCwS6Oris5qGCPzPnXfSvmvX0nlqNptFkiQURSGZTN58p0QRWZYR
RRFBECyxWNM0NE2zxrndbuufFAQB0zTJZrMYhgGA3W7HbrcjiqI1140KaDqdtkCTZZndDz7Df7x1
npw7g+SzMTZ0ntnZWXw+H5qmMXjmDI/8nQlMOxzU/fSnBCsrlw7Uvr4+Nm/ezB//+Ef27dt30/GK
otDe3s5TTz1FNBpFlmVsNhsHDhxg//791pgXX3wRgGAwaDURv/71r/nTn/4EQGtrK88++yxutxu/
379o6jFNk3g8zle/+lUKhQJ2u529e/fS0NDAJnEzbxReRxAFxnJjFp0qFArk+vqo/PsGv3P//Tz2
6KO3LFJuCmo+n0dVVTweD+Pj4x9aRuvq6qK7u5tf/vKXxGIxAoEAo6Oj1vfdbjcTExMIgoDX68Vm
s2EYBh0dHfzoRz8ik8nwl7/8hc997nPU19fjcDiw2WzXHZEYhsG+ffs4fPgwhmGwadMm8vk8IyMj
fOnhL3P0wBsYqwvoQY3TvadpamoinU6T6+/HpWmcVhQaf/CDW1orbppT5+bmaGhosLyiHF7PPPMM
L7zwwlWf3/zmNzz99NNIkoRhGPT09PCrX/2KZDLJ/Pz8dXOnUimy2aw1ryAIrFmzhu3bt1vp4qWX
XkIURRKJBIZhcK2mPjExwcGDB62UsX37dqamppBlmbraOnZ99iuUEmCrEOk/1w/AwJkzNAEOYGT7
dpo6OpaOp5qmycDAABUVFVe7tyTR3NzMxMQEuVwOWZZxOp14vV727t3Lk08+aY09ceIE2Wx20fbQ
NE3rUz7PF0WR3bt3W2sePXqUgYEBhoaGGBsbY2pqitnZWRKJhHVkcuLECQBWrVpFR0cHxWKRFStW
4PP5+PJDu7gz30xaTDE6dR7DMDh3+jRV8TiDkQjtv/jFLdcvbhr+fr+fYDC4aHdSW1tLa2sr1dXV
2Gw2TNNEFEXa2tp4+eWXrWKTyWQW7WKKxSLJZJILFy5Y4W2aJq2trdxzzz28/vrrzM7O8vbbb7N9
+3ZmZ2etuURRpLq6mn379mGaJrIs841vfIN3332XpqYm/H4/NpuNqqoqnt64h3//r3/DMHVee+01
knNzJIpF8l//Ohs+AUYj3qyDikQiix71OhwO6uvricViRKNRotEoVVVVhEIh3n77bStN7Nq1i97e
XrLZ7HVzGIaBJElUVFQQjUbx+XzIsoyu63zzm9/E6XRiGAYHDhzAbreTTCaRJAm/309lZSV//vOf
6e//W0ivX7+eqqoq4G9q//z8PBMTE0xMTFDhqSB2bgX6dInf/va3nLl4kd/dcw+1jz/+iciW0s06
k/vuu++63xcKBTo7Ozl//jzd3d0W6IIgMDw8TFdXF1VVVezZs4dYLMbo6Ch33nnnot6ez+eZnp5G
kiRkWUZRFHw+H+vWrWPHjh28+uqrXL58mWPHjvHoo4/i9/vx+/2oqsorr7xiUbSHH36YixcvUl9f
T01NjcUoRFEkmUzS1dV13fpf+9rXuPfee5cW1BvlmmKxSGdnJ52dnTf8XktLC48//jiDg4Pcfffd
1NbWXjcul8uRSqWsNON2u5EkCdM0cTgc7Ny5k8OHD5NKpTh48CDbtm0jmUzi8/kYHh7mjTfewDRN
Vq1aRXt7OwMDAzQ2NqIoCplMxips4XB40eecmpri8uXL+Hw+3G73LfNa6YNC/0YmyzJPPfUUzc3N
Fjkve148HueFF17gzTffpK+vj+eee45AILBo+Hu9XlwuF36/H13XicfjlEolJElCFEU2b97Mli1b
OHToEIODg5w8eZK2tjaKxSLPP/88iUQCRVF49tln6evro7m5mbq6OrxeL6IoYpomuq5js9lobW3l
9OnT1tqRSISOjg48Hg+JRILLly/jcDgIhUK43e6PVbzED+Knq1evXnwnJImqqioEQaCyspL6+noa
GhpYsWIFDz74IHv37sU0Taanp3nuueeorKzE4XBYHVR5Azwej9UIhEIhYrEYsViMcDiM2+1GFEX2
7NmDJEnkcjkOHjyI0+lkYGCAI0eOWA1COBxGURTq6upQFMXyOEEQsNvtRKNRvv3tbxMOhxEEAbfb
zc6dO/H5fOi6TiAQIBaL4ff7yWazXLx4kYmJCTKZzHVK18fy1FKpZN1/ymazpFKpqyq4aZoEg0FW
r16Nz+cjm82iaRqmadLW1nYVjxweHqZUKtHY2Igsy5amGY/HCQQCFItFnE6n1dI6HA4cDodF5h95
5BEOHTrE0aNHmZqa4ujRo8zNzQHwxBNPkEgkWLt2LdFodNFbf4IgsGvXLmpqajh+/DhNTU184Qtf
oFAoWPM4HA68Xi8+nw9FUcjlcly4cAFN04hGo0QikQ99H+yGoI6NjREOh3E4HJimic/ns8LcNE3L
07LZLLqu4/F48Pv9CILASy+9dFWIh0IhxsfHaWlpYd26dfT09KBpGj/72c/43ve+h6Zplmdem5vd
bje7d+/m2LFjJJNJvv/976OqKoZh0NbWRlVVFYZhcOzYMXw+HyMjIxQKBQRBoLOzk2g0ygMPPMDo
6CgtLS309/ezbt06urq6WL9+PU6n07rvmkwmrebC4/FYxU6SJN5//31sNhsej4dAIPCB+VdajJAn
EgmGh4fx+/1UVFQgy7IFZLnT6ezspK+vb1Hx5fjx4xYo3/rWtxgcHCQUChGJRPjOd75DX18fmUyG
t956i/Hxce699178fv91c23atIlt27Zx33330dLSwvHjx+nt7bVSxu7du5mcnKS9vZ2DBw+STCbZ
uHEjqVTKEmNUVWVwcJBUKsXZs2c5deoUa9eu5Z133mHlypV4vV6LUdjtdorFIqlUCk3TkGXZyq8u
l8v629zcnIXNYuBKV3LGZDLJ9PS0Feper5d8Pk+xWLSIeXnsyZMnOXny5A0FlaamJp588klaWlqI
x+Pcdddd2O12tmzZQmdnJy+++CInTpxgZmaGQ4cOLVoYc7kcK1asoKKigu9+97ucOnUKVVUB2LBh
AxUVFaRSKerq6qitrWXjxo38/ve/Z+vWrfh8Pu644w5UVbW4789//nN+/OMf85Of/IQtW7YgSRKB
QMDSHsr1QlEUSqUSqVSKyclJnE4nPp8Pp9NJOBymVCqhqipDQ0N4PB6qqqquKmyCYRhmOp1mZmYG
j8eD0+lEVVV6enrYvHkzmqaxsLCALMvk83lOnTp1lTx3ZVEo/5RlGZfLhaqqZLNZ7r77bhoaGvD7
/VYXlUqlmJiYsASbxYpCLBZDEARisRg1NTWcOXPGGufxeLhw4QJ1dXW0tbXx3nvvEQwGGR8fJxQK
4fP5KBaLFAoFPB4PDoeDoaEh2tra6O3tpbKyEr/fT21tLYqi3PAuq2EYZDIZ0uk0DoeDYDCIJEkI
goBhGKiqSjqdxu/3Ew6HEUVxpzAwMGBqmkYoFEKSJBwOh5XsE4kEmqbh9Xrxer2oqsrY2Bjj4+NW
LtV1nVKpRKlUQhRF7Ha7pQUEg0Gi0SjV1dUoimLtZrFYJJPJMDs7y8LCAul0mnw+T6FQuApYm81G
JBJh1apVeDwe4vE4o6OjZDIZAFwuF9XV1RYlM00TRVGsdlkQBEql0lWabplilUolnE4nfr/fAulm
lkgkSKfTyLKMz+fDMAx0XadQKJBMJnE4HNxxxx17pNWrV2OaplWRC4WCJSaXQ6dMsf7617+ysLDA
6tWrcTgcJJNJstksLpcLQRAoFArWAn6/32ozbTYbZ8+eJRqNWilEVVUCgQCXLl1i5cqVSJJEOp1G
FEUkSULTNBwOBwsLC8zPz6PrOrIsU11dTSaT4cKFC7S1tVFRUWHRqCsFmisr/7XK1pVRVRbIF6st
ZYcpO0+xWLQ2Kp/P43Q6kWWZUChEXV1dmTVlJEEQEARh0RPSsgdms1kr9EdGRjh8+DAej8fifPF4
nLVr11JTU0N3dzeNjY0IgsDQ0BCRSIT169dz7tw52traOH78OIVCgVgsRmVlJd3d3UQiERobGxkY
GCAcDuN0Ojl37hybN28mn88zPDzM+Pg4zc3NeDwekskkkUiE+vp6ys9/K6wczqqqouu6FbWBQABJ
kqy294OuvdtsNuMjXfrNZDLk83kr1Mu5NR6PI0mSlSLKoVHujDweD5qmMTU1RSKRwDRNotEodrsd
XddxOp24XC5SqZSliM3MzOByuZibmyOfz6MoiuX9ZQW/urr6/wxgqVSyIrJYLKLrOm63G5fLhaIo
H0e0vjU3qct6aDqdRlVVcrkcoiji9XqvOqu6UpAppxdN0/B4PHg8Hqvvz+VyVnF0u90fWEg+6jNq
mkY2m6VQKFgtcnn+W+Txn9zbKWVOVybUZRH72o6n/EZfWQApe0y58bgVz6GqKvl8HkEQCAaDVi78
hGxpXk7Tdd3qWMrdlyzLVvin02nS6bSV13O5HG6326JCH9WDdF0nn8+Ty+UolUoEg0Gr21sCW9rX
KMuek81mmZ+ftzxTURSCwaCVx3Rdt7ihJEkf2muLxSJzc3OUSiUCgcANT2D/4UC9VglLpVJkMhkU
RbH01CvzoKqqzM/PI0kSPp/Pom/XkvPyWVmZPdxGu72gXtsiLywsoCjKVW1jOe+qqkoqlUIURUvo
yGQy1vF5JBJZLheQlweoV3pmJpMhHo/jcDgWDd9kMsn777+Pz+ejoqLiKvVsmdjyAvVKcLPZLLOz
s9jtdkvMzmQyaJpGOBzG5/Mt13cNlieo1+bUyclJ65RhGYN5Fahulrddi6C5zJ83/78R2ctEZZ0a
7wAAAABJRU5ErkJggg==" alt="BLV NRW"/>
<div class="overview">{{league_name}}<br />{{season_name}}</div>
<div class="topright"><span class="stb">{{stb}}</span><br /><span class="date">Stand {{today}}</span></div>
</div>

<table>
<thead><tr>
<th title="Spieltag / Verbandstermin">Spt./VT</th>
<th class="weekday" title="Wochentag">WT</th>
<th>Datum</th>
<th>Zeit</th>
<th class="home_team">Heim</th>
<th class="versus"></th>
<th class="away_team">Gast</th>
</tr></thead>
<tbody>
{{#game_days}}
{{#games}}
<tr class="{{#is_first_game_on_day}}first_game_on_day{{/is_first_game_on_day}}">

{{#is_first_game_on_day}}
<th class="num">{{num_str}}</th>
{{/is_first_game_on_day}}
{{#is_second_game_on_day}}
<th rowspan="{{game_count_minus_one}}" class="day">
	<div>{{day_str}}</div>
</th>
{{/is_second_game_on_day}}

<td class="weekday">{{week_day}}</td>
<td class="date_str">{{date_str}}</td>
<td class="time_str">{{time_str}}</td>
<td class="home_team">{{#home_team}}{{name}}{{/home_team}}</td>
<td class="versus">:</td>
<td class="away_team">{{#away_team}}{{name}}{{/away_team}}</td>
{{/games}}
</tr>
{{/game_days}}
</tbody>

</table>
{{/rounds}}

<p>
Spt. = Spieltag<br/>
VT = Verbandstermin bzw. Verbandsansetzung
</p>

</body>
</html>
