html,
body {
	font-size: 22px;
}

textarea,
input,
button,
table {
	font-size: inherit;
}

.buf {
	width: 2em;
}
.cost_label {
	text-align: right;
}
.solution_val,
.cost_val {
	min-width: 4ch;
	text-align: center;
}

.unfulfilled {
	font-weight: bold;
}
